<h1>{{game.name}}</h1>
<div>
    <button disabled>Play</button>
    <button routerLink="/game/{{game.string_id}}/train">Train</button>
    <button routerLink="/game/{{game.string_id}}">Watch</button>
</div>

<div class="main">
    <div>
        <h2>Canvas</h2>
        <div>
            <canvas id="canvas" width="1000" height="1000"></canvas>
        </div>
        <div>
            <button (click)="findGame()" id="find-game-button">Find game</button>
            <button (click)="quit()" id="quit-button" disabled>Quit</button>
        </div>
        <textarea class="log" id="log-textarea" [(ngModel)]="logs"></textarea>
    </div>
    <div class="initialisation">
        <h2>Initialisation</h2>
        <textarea id="initialisation-textarea" [(ngModel)]="initialisationScript"></textarea>
    </div>
    <div class="render">
        <h2>Render loop</h2>
        <textarea id="render-textarea" [(ngModel)]="renderScript"></textarea>
    </div>
    <div class="on-data-received">
        <h2>On data received</h2>
        <textarea id="on-data-received-textarea" [(ngModel)]="onDataReceivedScript"></textarea>
    </div>
</div>
